@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, p, h2, h3, li {
  font-family: 'Source Sans Pro', sans-serif;
}

.navFont {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
}

.headerFont {
  font-family: 'Merriweather Sans', sans-serif;
  padding-left: 50px;
}

#headline {
  font-size: 25px;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgb(131 24 67);
  color: white;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#subtext {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-top: 50px;
}

#foto {
  height: 400px;
  padding-right: 100px;
  padding-top: 20px;
  border-radius: 50%;
  float: right;
}

.icons {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(131 24 67);
}

.sterren {
  color: rgb(131 24 67);
}

.lists {
  font-size: 20px;
}

.projectenCards {
  margin-top: 20px;
}